/******************************************
/* GENERAL STYLES
/*******************************************/
.section {
  transition: transform 1s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/******************************************
/* Cover Section
/********************************************/
.header--secondary {
  background: var(--clr-primary);
}

.header--secondary .main-nav-link {
  color: var(--clr-neutral-800);
}

.page-cover {
  background: var(--clr-neutral-800);
}
.page-cover--faq {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/images/faq.jpg);
}

.page-cover--services {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/images/services.jpg);
}

.page-cover--contacto {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/assets/images/contacto.jpg);
}

.page-cover {
  max-width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 35rem;
  padding: 0 20rem;
}

.page-cover-title {
  font-size: 7rem;
  font-weight: var(--fw-900);
  margin-bottom: 0;
  color: var(--clr-primary);
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.page-cover-subtitle {
  font-size: 2.4rem;
  font-weight: var(--fw-700);
  margin-bottom: 0;
  letter-spacing: 1.4px;
  color: var(--clr-violet-200);
  text-transform: uppercase;
}

.icon-mobile-nav {
  color: var(--clr-neutral-800);
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

/******************************************
/* General
/********************************************/
.grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/******************************************
/* Accordion
/*******************************************/
.section-accordion {
  padding: 8rem 0 15rem;
  background: url(../assets/svg/faq-bg.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex-grow: 1;
}

.accordion {
  width: 70%;
  margin: 0 auto;
  padding: 9rem 0 9rem 0;
}

.accordion-item {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  background-color: var(--clr-primary);
  font-size: var(--fs-600);
  font-weight: var(--fw-400);
  margin: 1rem 0;
  border-radius: 5px;
}

.accordion-item-header {
  padding: 2rem;
  min-height: 7rem;
  line-height: 1.25;
  font-weight: var(--fw-700);
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: url(../assets/svg/chevron-down-circle-outline.svg);
  font-size: var(--fs-700);
  position: absolute;
  right: 2rem;
  height: 2.8rem;
  width: 2.8rem;
  transition: all 250ms ease-in-out;
  filter: invert(28%) sepia(76%) saturate(1608%) hue-rotate(236deg) brightness(82%) contrast(95%);
}

.accordion-item-header.active::after {
  content: url(../assets/svg/chevron-up-circle-outline.svg);
  filter: invert(92%) sepia(10%) saturate(7500%) hue-rotate(339deg) brightness(100%) contrast(106%);
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 200ms ease-in-out;
}

.accordion-item-body-content {
  color: var(--clr-neutral-700);
  padding: 2rem;
  line-height: 1.5;
  border-top: 1px solid;
  border-image: linear-gradient(to right, #5f3dc4, #fcc419) 1;
}

/******************************************
/* Services
/*******************************************/

.section-services {
  padding: 9.8rem 0;
}

.section-services {
  background: url(../assets/svg/blob-scene-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.service-item picture {
  width: auto;
  border-radius: 10px;
}
.service-item picture {
  overflow: hidden;
}

.service-item img {
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
}

.service-item img:hover {
  transform: scale(1.1);
}

.service-item-text-box {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 3rem;
}

.service-item-title {
  font-size: 4.8rem;
  font-weight: var(--fw-700);
  line-height: 1;
  margin-bottom: 1.8rem;
}

.service-item-subtitle {
  font-size: var(--fs-500);
  font-weight: var(--fw-600);
  color: var(--clr-violet-500);
  margin-bottom: 1.2rem;
}

.service-item-content {
  font-size: var(--fs-500);
  font-weight: var(--fw-400);
  /* color: var(--clr-neutral-800); */
  line-height: 1.6;
}

.service-item-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.service-item-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.service-item-content a:link,
.service-item-content a:visited {
  border-bottom: 1px solid #845ef7;
  color: var(--clr-violet-400);
  transition: all 200ms ease-in-out;
}

.service-item-content a:hover,
service-item-content a:active {
  color: var(--clr-violet-500);
  border-bottom: 1px solid var(--clr-violet-500);
}

.service-icon {
  width: 1.4rem;
  height: 1.4rem;
  color: var(--clr-violet-500);
}

.mgn-bottom {
  margin-bottom: 1.2rem;
}

.service-item-link {
  font-size: var(--fs-500);
  font-weight: var(--fw-400);
}

/******************************************
/* Footer
/*******************************************/

.footer--faq {
  background: var(--clr-neutral-800);
  color: var(--clr-primary);
  /* To fix not enough space in the page*/
  /* margin-top: auto;  */
}

.footer--faq .footer-link {
  color: var(--clr-primary);
}

.footer-link:hover,
.footer-link:active {
  color: var(--clr-violet-500);
  font-weight: var(--fw-500);
  transition: all 200ms ease-in-out;
}

.footer-logo--invert {
  filter: invert(97%) sepia(3%) saturate(12%) hue-rotate(54deg) brightness(103%) contrast(105%);
}

/* .footer-link--invert{
  color: var(--clr-primary);
} */

/******************************************
/* Contacto
/*******************************************/

.section-cta {
  padding: 15rem 0 15rem;
  background: url(../assets/svg/blob-scene-haikei.svg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: url(../assets/svg/cta-bg.svg);
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.cta-text-box {
  padding: 6.4rem;
  color: var(--clr-neutral-900);
}

.cta .heading-secondary {
  color: inherit;
  color: var(--clr-neutral-900);
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
  margin-bottom: 3.2rem;
}

.cta-text {
  color: var(--clr-neutral-700);
  color: var(--clr-primary);
  color: var(--clr-neutral-900);
  font-size: var(--fs-600);
  font-weight: var(--fw-400);
  margin-bottom: 1.4rem;
}

.cta-links {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  font-size: var(--fs-600);
  font-weight: var(--fw-400);
  padding-left: 4rem;
  margin-bottom: 1.4rem;
}

.cta li {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}

.cta-logo {
  width: 2.8rem;
  height: 2.8rem;
  color: var(--clr-primary);
}

.cta-link:link,
.cta-link:visited {
  font-size: (--fs-500);
  font-weight: (--fw-500);
  color: var(--clr-violet-500);
  transition: all 200ms ease-in;
}

.cta-link:hover,
.cta-link:active {
  color: var(--clr-primary);
}

.cta-img-box {
  background: linear-gradient(to right bottom, rgba(151, 117, 250, 0.2), rgba(95, 61, 196, 0.2)),
    url('../assets/images/cta-goat.jpg');
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  margin-top: 3.2rem;
}

.cta-form label {
  display: block;
  font-size: var(--fs-500);
  font-weight: var(--fw-400);
  margin-bottom: 0.8rem;
  padding-left: 1rem;
}

.select-label {
  color: var(--clr-primary);
}

.cta-form input,
.cta-form select,
.cta-form textarea {
  width: 100%;
  padding: 1.4rem;
  font-size: var(--fs-500);
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--clr-primary);
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder,
.cta-form textarea::placeholder {
  color: var(--clr-neutral-400);
}

.cta-form textarea {
  resize: none;
  overflow-y: auto;
}

.cta-message {
  resize: none;
  grid-column: span 2;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.5);
}

.btn--cta {
  width: 100%;
  align-self: flex-end;
  background: var(--clr-neutral-800);
  border-color: var(--clr-neutral-800);
  font-size: var(--fs-500);
  max-height: 5.4rem;
  padding: 0;
}

/******************************************
/* Portafolio
/*******************************************/
.portfolio-gallery {
  padding-block: 12rem;
  background-color: #f2f2f2;
}

.even-columns {
  display: grid;
  gap: 4rem;
  margin-bottom: 8rem;
  justify-items: center;
}

.portfolio__item {
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.portfolio__img-box {
  max-height: 50rem;
  max-width: 50rem;
  overflow-y: auto;
  border-radius: 7.5px 7.5px 0 0;
}

.portfolio-image {
  width: 100%;
}

.portfolio__text-box {
  font-size: var(--fs-600);
  text-align: center;
  padding: 2.4rem;
}

.portfolio__link {
  color: var(--clr-neutral-700);
  position: relative;
}

.portfolio__link:is(:hover, :focus) {
  color: var(--clr-violet-500);
  transition: all 300ms ease-in-out;
}

.portfolio__link::after {
  content: '';
  left: 0;
  bottom: -10%;
  position: absolute;
  background: var(--clr-violet-500);
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}

.portfolio__link:hover::after,
.portfolio__link:active::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* .portfolio__title {
  text-transform: uppercase;
} */

.copyright {
  margin-inline: auto;
  max-width: 80%;
  margin-top: 6.4rem;
  justify-content: center;
  border-top: 1px solid #a3a3a3;
  text-align: center;
}

.copyright__text {
  padding-top: 2rem;
  font-weight: var(--fw-400);
  color: white;
  line-height: 2;
}
